$h1: "Atkinson Hyperlegible" normal 700 48px 60px;
$h2: "Atkinson Hyperlegible" normal 700 32px 40px;
$h3: "Atkinson Hyperlegible" normal 700 20px 25px;
$four-game-number: "Atkinson Hyperlegible" normal 700 56px 69px;
$six-game-number: "Atkinson Hyperlegible" normal 700 44px 55px flex center;
