@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

// @use "variables" as *;
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible";
}
