@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.container {
  position: absolute;
  z-index: 10;
  background-color: grey;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  p {
    margin-block: 1rem;
  }

  .card {
    //    margin-inline: auto;
    margin-block: auto;
    box-sizing: border-box;
    border-radius: 1rem;
    max-width: 1080px;
    padding: 3rem;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .winnerHighLight {
      background-color: $bg-color;
      @include player-result-container
    }

    .winnerResults {
      color: $white-color;
    }

    .winner {
      font-family: "Atkinson Hyperlegible";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      text-transform: capitalize;
      color: #152938;
    }

    .tagLine {
      font-family: "Atkinson Hyperlegible";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 0;
      color: #7191a5;
    }

    .playerResult {

      background-color: $idle-color;
      @include player-result-container;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      width: 100%;

      button:nth-of-type(1) {
        background-color: $attention-color;
      }

      button {
        @include Button;
        font-size: 20px;
        width: 100%;
        white-space: nowrap;

      }

      button:hover {
        background-color: $hover-color;
        cursor: pointer;
      }
    }
  }
}
